
# -- --------------------------------------------------------------------------------------------------- -- #
# -- project: A SHORT DESCRIPTION OF THE PROJECT                                                         -- #
# -- script: requirements.txt : text file with the required libraries for the project                    -- #
# -- author: YOUR GITHUB USER NAME                                                                       -- #
# -- license: GPL-3.0 License                                                                            -- #
# -- repository: YOUR REPOSITORY URL                                                                     -- #
# -- --------------------------------------------------------------------------------------------------- -- #

pandas>=1.1.0
numpy>=1.19.1
jupyter>=1.0.0

scipy~=1.5.4
matplotlib~=3.3.2
oandapyV20~=0.6.3
statsmodels~=0.12.1
patsy~=0.5.1
ipython~=7.16.1